#drum-pads {
    display: flex;
    justify-content: center;
    
}

.drum-pad {
    flex: 1;
text-align: center;
    border-style: solid;
    align-self: center;
    margin-right: 10px;
}

#display {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}